select{
    margin-top: 8.5%;
    height: 4rem;
    width: auto;
    font-weight: 600;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
option{
    font-weight: 700;
}


.btn {
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 1rem;
    
  }